@page
@model DailyReport.WebLayer.Pages.Person.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <a asp-page="CreatePerson" 
           class="btn btn-info btn-md"
           data-ajax="true"
           data-ajax-update="#reg"
           data-ajax-mode="replace"
           data-ajax-method="get">
            Create person
        </a>
    </div>
</div>

<div class="container">
    <div class="container-wrapper" style="display:flex; justify-content: space-between; align-items:center">
     <table class="table">
       <thead>
         <tr>
            <th>Last Name</th>
            <th>*</th>
            <th>Work place</th>
            <th>*</th>
            <th>Edit</th>
            <th>*</th>
            <th>Delete</th>
            <th>*</th>
            <th>Details</th>
         </tr>
       </thead>
       <tbody>
        @if (Model.Persons is not null)
        {
            @foreach (var item in Model.Persons)
            {
                <tr>
                    <td>@item.Lastname</td>
                    <td>*</td>
                    <td>@item.DescriptionWorkplace</td>
                    <td>*</td>
                            <td>
                                <a asp-page="EditPerson" asp-route-id="@item.Id"
                                   class="btn btn-info btn-md"
                                   data-ajax="true"
                                   data-ajax-update="#reg"
                                   data-ajax-mode="replace"
                                   data-ajax-method="get">
                                    Edit
                                </a>
                            </td>
                    <td>*</td>
                            <td>
                                <a asp-page="DeletePerson" asp-route-id="@item.Id"
                                   class="btn btn-info btn-md"
                                   data-ajax="true"
                                   data-ajax-update="#reg"
                                   data-ajax-mode="replace"
                                   data-ajax-method="get">
                                    Delete
                                </a>
                            </td>
                    <td>*</td>
                            <td>
                                <a asp-page="DetailsPerson" asp-route-id="@item.Id"
                                   class="btn btn-info btn-md"
                                   data-ajax="true"
                                   data-ajax-update="#reg"
                                   data-ajax-mode="replace"
                                   data-ajax-method="get">
                                    Details
                                </a>
                            </td>
                    <td>*</td>
                </tr>
            }
        }
      </tbody>
     </table>
       <div class="main" id="reg" style="align-self:flex-end"></div>
    </div>
</div>


<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

