@page
@model DailyReport.WebLayer.Pages.Person.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a asp-area="" asp-page="/Person/CreatePerson">Create person</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>*</th>
                <th>Phone number</th> 
                <th>*</th>
                <th>Edit</th>
                <th>*</th>
                <th>Delete</th>
                <th>*</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonNewDTOs)
            {  
                <tr>
                    <td>@item.LastName</td>
                    <td>*</td>
                    <td>@item.PhoneNumber</td>
                    <td>*</td>
                    <td>
                        <form method="post">
                            <a asp-page="EditPerson" asp-route-id="@item.Id">Edit</a>
                        </form>
                    </td>
                    <td>*</td>
                    <td>
                        <form method="post">
                            <a asp-page="DeletePerson" asp-route-id="@item.Id">Delete</a>
                        </form>
                    </td>
                    <td>*</td>
                    <td>
                        <form method="post">
                            <a asp-page="DetailsPerson" asp-route-id="@item.Id">Details</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div>
        <a asp-controller="Home" asp-action="Index">Back</a>
    </div>

