@page
@model DailyReport.WebLayer.Pages.Plan.DetailsPlanModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="container-wrapper" style="display:flex; justify-content: space-between; align-items:center">
        <table class="table">
            <thead>
                <tr>
                    <th>Lastname</th>
                    <th>*</th>
                    <th>Start Time</th>
                    <th>*</th>
                    <th>Finish Time</th>
                    <th>*</th>
                    <th>Interval Time</th>
                    <th>*</th>
                    <th>Workplace</th>
                    <th>*</th>
                    <th>Delete</th>
                    <th>*</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Persons is not null)
                {
                    @foreach (var item in Model.Persons)
                    {
                        <tr>
                            <td>@item.Lastname</td>
                            <td>*</td>
                            <td>@item.StartTime</td>
                            <td>*</td>
                            <td>@item.FinishTime</td>
                            <td>*</td>
                            <td>@item.IntervalTime</td>
                            <td>*</td>
                            <td>@item.DescriptionWorkplace</td>
                            <td>*</td>
                            <td>
                                <a asp-page="DeletePlan" asp-route-id="@item.Id"
                                   class="btn btn-info btn-md"
                                   data-ajax="true"
                                   data-ajax-update="#reg"
                                   data-ajax-mode="replace"
                                   data-ajax-method="get">
                                    Delete plan
                                </a>
                            </td>
                            <td>*</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="main" id="reg" style="align-self:flex-end"></div>
    </div>
</div>

<div>
    <div>
        <a asp-page="CreatePlan" asp-route-id="@Model.GetId"
           class="btn btn-info btn-md"
           data-ajax="true"
           data-ajax-update="#reg"
           data-ajax-mode="replace"
           data-ajax-method="get">
            Create plan
        </a>
    </div>
</div>

<div>
    <a asp-page="Index">Back</a>
</div>


