@page
@model DailyReport.WebLayer.Pages.Plan.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <a asp-area="" asp-page="/PlanDate/CreatePlanDate">Create plan date</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Day</th>
            <th>*</th>
            <th>Delete Day</th>
            <th>*</th>
            <th>Create plan</th>
            <th>*</th>
            <th>Details plan</th>
            <th>*</th>
            <th>Create report</th>
            <th>*</th>
            <th>Details report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlanDateDTOs)
        {
            <tr>
                <td>@item.PlanDay</td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="/PlanDate/DeletePlanDate" asp-route-id="@item.Id">Delete Day</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="CreatePlan" asp-route-id="@item.Id">Create plan</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="DetailsPlan" asp-route-id="@item.Id">Details plan</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="/Report/CreateReport" asp-route-id="@item.Id">Create report</a>
                    </form>
                </td>
                <td>*</td>
                <td>
                    <form method="post">
                        <a asp-page="/Report/DetailsReport" asp-route-id="@item.Id">Details report</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
